{% comment %}
  Renders last best price

  Accepts:
  - product: {Object} Product

  Usage:
      {% render 'product-discount-bestprice', product: product %}
{% endcomment %}

{% if product != blank %}
  {% liquid
    if localization.country.iso_code == 'PT'
      if product.metafields.custom['bestprice-pt'] != null
        assign message_data = product.metafields.custom['bestprice-pt'] | prepend: '€'
      endif
    elsif localization.country.iso_code == 'ES'
      if product.metafields.custom['bestprice-es'] != null
        assign message_data = product.metafields.custom['bestprice-es'] | prepend: '€'
      endif
    else
      if product.metafields.custom['bestprice-international'] != null
        assign message_data = product.metafields.custom['bestprice-international'] | prepend: '€'
      endif
    endif
  %}

  {% if message_data != blank %}
    <div
      id="discount-message-{{ product.id }}"
      class="inline-flex items-center gap-1 text-2xs leading-6 text-gray-600"
    >
      {% render 'icon', icon: 'info-circle-v2', class: '!h-4 !w-4 -mt-px' %}
      {{ 'bpi.content' | t }}
      {{ message_data }}
    </div>

    {% style %}
      #discount-message-{{ product.id }} * {
        font-size: inherit;
        line-height: inherit;
      }

      #discount-message-{{ product.id }} > div {
          display: flex;
          flex-direction: column;
          gap: 4px;
      }

      #discount-message-{{ product.id }} ul,
      #discount-message-{{ product.id }} ol {
          margin-bottom: 4px;
          padding-left: 20px;
      }

      #discount-message-{{ product.id }} ul {
          list-style-type: disc;
      }

      #discount-message-{{ product.id }} ol {
          list-style-type: decimal;
      }
    {% endstyle %}
  {% endif %}
{% endif %}
