{{ 'nouislider.min.css' | asset_url | stylesheet_tag }}

<div class="price-fields flex items-center justify-center gap-2 pb-5">
  <div class="field">
    <input
      class="field__input price-field-input !h-12 !rounded !border !border-solid !border-gray-200 !px-3 !py-3 !text-center !text-sm text-gray-800"
      name="{{ filter.min_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
      {%- if filter.min_value.value -%}
        value="{{ filter.min_value.value | money_without_currency }}"
      {%- endif -%}
      type="text"
      inputmode="decimal"
      placeholder="0"
      data-pattern="\d| |,|\."
      data-min="0"
      data-max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
    >
  </div>

  <div class="field">
    <input
      class="field__input price-field-input !h-12 !rounded !border !border-solid !border-gray-200 !px-3 !py-3 !text-center !text-sm text-gray-800"
      name="{{ filter.max_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
      {%- if filter.max_value.value -%}
        value="{{ filter.max_value.value | money_without_currency }}"
      {%- endif -%}
      type="text"
      inputmode="decimal"
      placeholder="{{ filter.range_max | money_without_currency }}"
      data-pattern="\d| |,|\."
      data-min="0"
      data-max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
    >
  </div>
</div>

<div
  id="price-range-slider"
  class="px-2.5"
  data-min="0"
  data-min-value="{%- if filter.min_value.value -%}{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}{% else %}0{% endif %}"
  data-max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
  data-max-value="{%- if filter.max_value.value -%}{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}{% else %}{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}{% endif %}"
></div>

{% style %}
  .noUi-target {
    display: flex;
    height: 4px;
    background: rgb(var(--color-gray-200));
    border: none;
  }

  .noUi-connect {
    display: flex !important;
    height: 4px;
    background: rgb(var(--color-gray-900));
  }

  .noUi-handle {
    width: 24px !important;
    height: 24px !important;
    top: -10px !important;
    background: rgb(var(--color-gray-900));
    border-radius: 50%;
    border: none;
    box-shadow: none;
  }

  .noUi-handle:before,
  .noUi-handle:after {
    display: none;
  }
{% endstyle %}

<script src="{{ 'nouislider.min.js' | asset_url }}" defer></script>
<script src="{{ 'price-range-slider.js' | asset_url }}" defer></script>
