{%
  render 'offset',
  id: section.id,
  padding_top_mobile: section.settings.padding_top_mobile | default: 0,
  padding_bottom_mobile: section.settings.padding_bottom_mobile | default: 0,
  padding_top_desktop: section.settings.padding_top_desktop | default: 0,
  padding_bottom_desktop: section.settings.padding_bottom_desktop | default: 0
%}

{% liquid
  assign is_slider = section.settings.is_slider
  assign banners_per_view_mobile = section.settings.banners_per_view_mobile
  assign banners_per_view_tablet = section.settings.banners_per_view_tablet
  assign banners_per_view_desktop = section.settings.banners_per_view_desktop
  assign space_between_banners_mobile = section.settings.space_between_banners_mobile
  assign space_between_banners_desktop = section.settings.space_between_banners_desktop
%}

{% if section.blocks.size > 0 %}
  <section id="section-{{ section.id }}" class="overflow-hidden">
    <div class="container-valantic">
      <div class="banners mx-[calc(-1*var(--container-mobile-horizontal-spacing))] flex flex-col md:mx-0 md:flex-row">
        {% if is_slider %}
          <div
            class="swiper !m-0 !w-full"
            {% if section.blocks.size > 1 %}
              data-slider='
                {
                    "slidesPerView": {{ banners_per_view_mobile }},
                    "spaceBetween": {{ space_between_banners_mobile }},
                    "navigation": {
                        "prevEl": "#section-{{ section.id }} .swiper-button-prev",
                        "nextEl": "#section-{{ section.id }} .swiper-button-next"
                    },
                    "breakpoints": {
                        "768": {
                            "slidesPerView": {{ banners_per_view_tablet }}
                        },
                        "1024": {
                            "slidesPerView": {{ banners_per_view_desktop }},
                            "spaceBetween": {{ space_between_banners_desktop }}
                        }
                    }
                }
              '
            {% endif %}
          >
            <div class="swiper-wrapper">
        {% endif %}

        {% for block in section.blocks %}
          {% liquid
            assign video_desktop = block.settings.video_desktop
            assign video_mobile = block.settings.video_mobile

            assign image_desktop = block.settings.desktop_image
            assign image_mobile = block.settings.mobile_image | default: image_desktop
            assign image_id = section.id | append: '-' | append: block.id
            assign image_class = 'w-full h-full object-cover'
            assign lazy_load = block.settings.lazy_load

            assign max_height_desktop = block.settings.max_height_desktop | append: 'px'
            assign max_height_mobile = block.settings.max_height_mobile | append: 'px'

            assign width_desktop = block.settings.width | append: '%'

            assign content_vertical_position_mobile = block.settings.content_vertical_position_mobile
            assign content_horizontal_position_desktop = block.settings.content_horizontal_position_desktop
            assign content_vertical_position_desktop = block.settings.content_vertical_position_desktop

            assign title = block.settings.title
            assign title_image = block.settings.title_image
            assign title_color = block.settings.title_color
            assign title_font_size_desktop = block.settings.title_font_size_desktop | append: 'px'
            assign title_font_size_mobile = block.settings.title_font_size_mobile | append: 'px'

            assign subtitle = block.settings.subtitle
            assign subtitle_color = block.settings.subtitle_color
            assign subtitle_font_size_desktop = block.settings.subtitle_font_size_desktop | append: 'px'
            assign subtitle_font_size_mobile = block.settings.subtitle_font_size_mobile | append: 'px'

            assign links_vertical_position_desktop = block.settings.links_vertical_position_desktop

            assign link_first_text = block.settings.link_first_text
            assign link_first_url = block.settings.link_first_url

            assign link_second_text = block.settings.link_second_text
            assign link_second_url = block.settings.link_second_url

            assign link_third_text = block.settings.link_third_text
            assign link_third_url = block.settings.link_third_url
          %}

          {% if image_desktop != blank or image_mobile != blank or video_desktop != blank or video_mobile != blank %}
            <div class="banner banner-{{ block.id }} relative{% if is_slider %} swiper-slide{% endif %}">
              {% if video_desktop != blank or video_mobile != blank %}
                {% if video_desktop != blank and video_mobile != blank %}
                  <div class="md:hidden">
                    {% render 'video',
                      video: video_mobile,
                      class: 'video-mobile w-full object-cover mx-auto',
                      autoplay: true
                    %}
                  </div>
                  <div class="hidden md:block">
                    {% render 'video',
                      video: video_desktop,
                      class: 'video-desktop w-full object-cover mx-auto',
                      autoplay: true
                    %}
                  </div>
                {% else %}
                  {% assign video = video_desktop | default: video_mobile %}

                  {% render 'video', video: video, class: 'video w-full object-cover mx-auto', autoplay: true %}
                {% endif %}
              {% else %}
                {% render 'picture',
                  image_desktop: image_desktop,
                  image_mobile: image_mobile,
                  loading: lazy_load,
                  class: image_class,
                  id: image_id
                %}
              {% endif %}

              <div class="content-wrapper absolute inset-0 flex flex-col text-center md:gap-10 {{ content_vertical_position_mobile }} {{ content_horizontal_position_desktop }} {{ content_vertical_position_desktop }}">
                {% if title != blank or subtitle != blank %}
                  <div class="content">
                    {% if title_image != blank %}
                      <img
                        class="title-image mb-3.5 inline-block max-w-[250px] md:mb-3 md:max-w-[75%] lg:max-w-[385px]"
                        src="{{ title_image | image_url }}"
                        height="{{ title_image.height }}"
                        width="{{ title_image.width }}"
                        alt="{{ title_image.alt }}"
                        loading="lazy"
                      >
                    {% elsif title != blank %}
                      <div class="title font-semibold">{{ title }}</div>
                    {% endif %}

                    {% if subtitle != blank %}
                      <div class="subtitle mt-2 uppercase tracking-[1.6px] md:mt-3.75">{{ subtitle }}</div>
                    {% endif %}
                  </div>
                {% endif %}

                {% if link_first_text != blank or link_second_text != blank or link_third_text != blank %}
                  <div class="actions {{ links_vertical_position_desktop }} absolute bottom-8 left-0 flex w-full flex-wrap items-center justify-center gap-2 md:static">
                    {% if link_first_text != blank %}
                      <a
                        href="{{ link_first_url }}"
                        title="{{ link_first_text }}"
                        class="button tertiary scale-on-hover !px-4 !py-[9px] md:!py-3.25"
                      >
                        <span>{{ link_first_text }}</span>
                      </a>
                    {% endif %}

                    {% if link_second_text != blank %}
                      <a
                        href="{{ link_second_url }}"
                        title="{{ link_second_text }}"
                        class="button tertiary scale-on-hover !px-4 !py-[9px] md:!py-3.25"
                      >
                        <span>{{ link_second_text }}</span>
                      </a>
                    {% endif %}

                    {% if link_third_text != blank %}
                      <a
                        href="{{ link_third_url }}"
                        title="{{ link_third_text }}"
                        class="button tertiary scale-on-hover !px-4 !py-[9px] md:!py-3.25"
                      >
                        <span>{{ link_third_text }}</span>
                      </a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>

              {% style %}
                {% if max_height_mobile != '0px' %}
                    .banner-{{ block.id }} img:not(.title-image),
                    .banner-{{ block.id }} video {
                        height: {{ max_height_mobile }};
                        max-height: {{ max_height_mobile }};
                    }
                {% endif %}

                .banner-{{ block.id }} .title > * {
                    color: {{ title_color }};
                    font-family: var(--font-heading-additional-family);
                    font-size: {{ title_font_size_mobile }};
                    line-height: 80%;
                    position: relative;
                }

                .banner-{{ block.id }} .subtitle > * {
                    color: {{ subtitle_color }};
                    font-size: {{ subtitle_font_size_mobile }};
                    line-height: 80%;
                    position: relative;
                }

                @media screen and (min-width: 768px) {
                    {% if max_height_desktop != '0px' %}
                        .banner-{{ block.id }} img:not(.title-image),
                        .banner-{{ block.id }} video {
                            height: {{ max_height_desktop }};
                            max-height: {{ max_height_desktop }};
                        }
                    {% else %}
                        .banner-{{ block.id }} img:not(.title-image),
                        .banner-{{ block.id }} video {
                            height: auto;
                            max-height: 100%;
                        }
                    {% endif %}

                    .banner-{{ block.id }} {
                        width: {{ width_desktop }};
                    }

                    .banner-{{ block.id }} .title > * {
                        font-size: {{ title_font_size_desktop }};
                    }

                    .banner-{{ block.id }} .subtitle > * {
                        font-size: {{ subtitle_font_size_desktop }};
                    }

                    .banner-{{ block.id }} .content-wrapper:has(.actions.desktop-y-bottom) {
                        height: 100%;
                        width: 100%;
                    }

                    .banner-{{ block.id }} .content-wrapper.desktop-y-center:has(.actions.desktop-y-bottom) .content {
                        margin-bottom: auto;
                        margin-top: auto;
                    }

                    .banner-{{ block.id }} .content-wrapper .actions.desktop-y-bottom {
                        position: absolute;
                    }
                }
              {% endstyle %}
            </div>
          {% endif %}
        {% endfor %}

        {% if is_slider %}
          </div>

          {% if section.blocks.size > 1 %}
            <div class="swiper-button-prev">
              {% render 'icon', icon: 'chevron-left' %}
            </div>
            <div class="swiper-button-next">
              {% render 'icon', icon: 'chevron-right' %}
            </div>
          {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    {% style %}
      #section-{{ section.id }} .content-wrapper.mobile-y-top .content {
          margin-top: 20px;
      }

      #section-{{ section.id }} .content-wrapper.mobile-y-center .content {
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
      }

      #section-{{ section.id }} .content-wrapper.mobile-y-bottom .content {
          bottom: 112px;
          left: 0;
          position: absolute;
          width: 100%;
      }

      #section-{{ section.id }} .banners {
          gap: {{ space_between_banners_mobile }}px;
      }

      #section-{{ section.id }} .swiper-slide {
          margin-right: {{ space_between_banners_mobile }}px;
      }

      @media screen and (min-width: 768px) {
          #section-{{ section.id }} .content-wrapper.mobile-y-top .content {
              margin-top: 0;
          }

          #section-{{ section.id }} .content-wrapper.mobile-y-center .content,
          #section-{{ section.id }} .content-wrapper.mobile-y-bottom .content {
              position: static;
              transform: none;
              width: auto;
          }

          #section-{{ section.id }} .content-wrapper.desktop-x-left {
              left: 60px;
              right: auto;
          }

          #section-{{ section.id }} .content-wrapper.desktop-x-right {
              left: auto;
              right: 60px;
          }

          #section-{{ section.id }} .content-wrapper.desktop-x-center {
              left: 50%;
              right: auto;
              transform: translateX(-50%);
          }

          #section-{{ section.id }} .content-wrapper.desktop-y-top {
              bottom: auto;
              top: 40px;
          }

          #section-{{ section.id }} .content-wrapper.desktop-y-center {
              bottom: auto;
              top: 50%;
              transform: translateY(-50%);
          }

          #section-{{ section.id }} .content-wrapper.desktop-y-bottom {
              bottom: 40px;
              top: auto;
          }

          #section-{{ section.id }} .content-wrapper.desktop-x-center.desktop-y-center {
              transform: translate(-50%, -50%);
          }

          #section-{{ section.id }} .banners {
              gap: {{ space_between_banners_desktop }}px;
          }

          #section-{{ section.id }} .swiper-slide {
              margin-right: {{ space_between_banners_desktop }}px;
          }
      }

      @media screen and (min-width: 1440px) {
          #section-{{ section.id }} .content-wrapper.desktop-x-left {
              left: 80px;
          }

          #section-{{ section.id }} .content-wrapper.desktop-x-right {
              right: 80px;
          }
      }
    {% endstyle %}
  </section>
{% endif %}

{% schema %}
{
  "name": "Banners",
  "settings": [
    {
      "type": "number",
      "id": "space_between_banners_mobile",
      "label": "Space Between Banners Mobile (px)",
      "default": 8,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "space_between_banners_desktop",
      "label": "Space Between Banners Desktop (px)",
      "default": 8,
      "info": "From 768px"
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "checkbox",
      "id": "is_slider",
      "label": "Is Slider Enabled?",
      "default": false
    },
    {
      "type": "range",
      "id": "banners_per_view_mobile",
      "label": "Banners Per View Mobile",
      "default": 4,
      "min": 1,
      "max": 4,
      "step": 1,
      "info": "Until 768px"
    },
    {
      "type": "range",
      "id": "banners_per_view_tablet",
      "label": "Banners Per View Tablet",
      "default": 2,
      "min": 1,
      "max": 4,
      "step": 1,
      "info": "Until 768px to 1024px"
    },
    {
      "type": "range",
      "id": "banners_per_view_desktop",
      "label": "Banners Per View Desktop",
      "default": 4,
      "min": 1,
      "max": 4,
      "step": 1,
      "info": "From 1024px"
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile (px)",
      "default": 0,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile (px)",
      "default": 40,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding Top Desktop (px)",
      "default": 0,
      "info": "From 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop (px)",
      "default": 40,
      "info": "From 768px"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "video",
          "id": "video_mobile",
          "label": "Mobile Video",
          "info": "Until 768px"
        },
        {
          "type": "video",
          "id": "video_desktop",
          "label": "Desktop Video",
          "info": "From 768px"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image",
          "info": "Until 768px. Renders if no video uploaded."
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image",
          "info": "From 768px. Renders if no video uploaded."
        },
        {
          "type": "select",
          "id": "lazy_load",
          "label": "Lazy Load",
          "default": "lazy",
          "options": [
            { "value": "eager", "label": "Eager" },
            { "value": "lazy", "label": "Lazy" }
          ]
        },
        {
          "type": "header",
          "content": "Max Height"
        },
        {
          "type": "number",
          "id": "max_height_mobile",
          "label": "Max Height Mobile (px)",
          "default": 505,
          "info": "If set 0, then max height is auto. Until 768px"
        },
        {
          "type": "number",
          "id": "max_height_desktop",
          "label": "Max Height Desktop (px)",
          "default": 605,
          "info": "If set 0, then max height is auto. From 768px"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width Desktop (%)",
          "min": 25,
          "max": 100,
          "step": 1,
          "default": 100,
          "unit": "%",
          "info": "From 768px"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "content_vertical_position_mobile",
          "label": "Content Position Mobile",
          "default": "mobile-y-top",
          "options": [
            { "value": "mobile-y-top", "label": "Top" },
            { "value": "mobile-y-center", "label": "Center" },
            { "value": "mobile-y-bottom", "label": "Bottom" }
          ]
        },
        {
          "type": "select",
          "id": "content_horizontal_position_desktop",
          "label": "Content Position Desktop (Horizontal)",
          "default": "desktop-x-right",
          "options": [
            { "value": "desktop-x-left", "label": "Left" },
            { "value": "desktop-x-center", "label": "Center" },
            { "value": "desktop-x-right", "label": "Right" }
          ]
        },
        {
          "type": "select",
          "id": "content_vertical_position_desktop",
          "label": "Content Position Desktop (Vertical)",
          "default": "desktop-y-center",
          "options": [
            { "value": "desktop-y-top", "label": "Top" },
            { "value": "desktop-y-center", "label": "Center" },
            { "value": "desktop-y-bottom", "label": "Bottom" }
          ]
        },
        {
          "type": "header",
          "content": "Title"
        },
        {
          "type": "image_picker",
          "id": "title_image",
          "label": "Title Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "info": "Renders if no title image uploaded"
        },
        {
          "type": "number",
          "id": "title_font_size_mobile",
          "label": "Title Font Size Mobile (px)",
          "default": 49,
          "info": "Until 768px"
        },
        {
          "type": "number",
          "id": "title_font_size_desktop",
          "label": "Title Font Size Desktop (px)",
          "default": 88,
          "info": "From 768px"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "number",
          "id": "subtitle_font_size_mobile",
          "label": "Subtitle Font Size Mobile (px)",
          "default": 12,
          "info": "Until 768px"
        },
        {
          "type": "number",
          "id": "subtitle_font_size_desktop",
          "label": "Subtitle Font Size Desktop (px)",
          "default": 20,
          "info": "From 768px"
        },
        {
          "type": "color",
          "id": "subtitle_color",
          "label": "Subtitle Color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Links"
        },
        {
          "type": "select",
          "id": "links_vertical_position_desktop",
          "label": "Links Position Desktop (Vertical)",
          "default": "desktop-y-auto",
          "options": [
            { "value": "desktop-y-auto", "label": "Auto" },
            { "value": "desktop-y-bottom", "label": "Bottom" }
          ],
          "info": "From 768px"
        },
        {
          "type": "paragraph",
          "content": "Link 1"
        },
        {
          "type": "text",
          "id": "link_first_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_first_url",
          "label": "Link URL"
        },
        {
          "type": "paragraph",
          "content": "Link 2"
        },
        {
          "type": "text",
          "id": "link_second_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_second_url",
          "label": "Link URL"
        },
        {
          "type": "paragraph",
          "content": "Link 3"
        },
        {
          "type": "text",
          "id": "link_third_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_third_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banners"
    }
  ]
}
{% endschema %}
