{%
  render 'offset',
  id: section.id,
  padding_top_mobile: section.settings.padding_top_mobile | default: 0,
  padding_bottom_mobile: section.settings.padding_bottom_mobile | default: 0,
  padding_top_desktop: section.settings.padding_top_desktop | default: 0,
  padding_bottom_desktop: section.settings.padding_bottom_desktop | default: 0
%}

{% assign title = section.settings.title %}

<product-recommendations
  class="related-products"
  data-url="{{ routes.product_recommendations_url }}?limit=10"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <section id="section-{{ section.id }}" class="overflow-hidden opacity-0 transition-opacity">
      <div class="container-valantic lg:relative">
        {% if title != blank %}
          <h3 class="title mb-4 text-[20px] leading-[normal] text-gray-800 md:mb-6 md:text-2xl md:!leading-[normal] lg:pt-[9px]">
            {{ title }}
          </h3>
        {% endif %}
        <div
          class="swiper group !overflow-visible lg:!static lg:transition-all"
          data-slider='
            {
                "spaceBetween": 16,
                "slidesPerView": 1.35,
                "breakpoints": {
                    "768": {
                        "slidesPerView": 3.3
                    },
                    "1024": {
                        {% if recommendations.products_count > 4 %}"initialSlide": 1,{% endif %}
                        "slidesPerView": 4.5,
                        "spaceBetween": 20
                    }
                },
                "navigation": {
                    "prevEl": "#section-{{ section.id }} .swiper-button-prev",
                    "nextEl": "#section-{{ section.id }} .swiper-button-next"
                },
                "scrollbar": {
                    "el": "#section-{{ section.id }} .swiper-scrollbar"
                }
            }
          '
        >
          <div class="swiper-wrapper{% if recommendations.products_count > 4 %} lg:ml-[5%]{% endif %}">
            {% for recommendation in recommendations.products %}
              <div class="swiper-slide mr-4 lg:mr-5">
                {% render 'card-product', card_product: recommendation, lazy_load: true, section_id: section.id %}
              </div>
            {% endfor %}
          </div>

          <div class="swiper-button-prev !top-[152px] !transform-none hover:!bg-primary hover:!text-white max-[1023px]:!bg-white max-[1023px]:shadow-[0px_3px_8px_0px_rgba(0,0,0,0.08)] lg:!left-full lg:!top-0 lg:!-ml-[116px] xl:!-ml-35">
            {% render 'icon', icon: 'chevron-left' %}
          </div>
          <div class="swiper-button-next !right-0 !top-[152px] !transform-none hover:!bg-primary hover:!text-white max-[1023px]:!bg-white max-[1023px]:shadow-[0px_3px_8px_0px_rgba(0,0,0,0.08)] lg:!right-4 lg:!top-0 xl:!right-10">
            {% render 'icon', icon: 'chevron-right' %}
          </div>
        </div>
      </div>

      {% style %}
        #section-{{ section.id }}:has(.offcanvas-card-product.is-open) {
          position: relative;
          z-index: 1000;
        }

        #section-{{ section.id }}:has(.swiper.swiper-initialized .swiper-slide) {
            opacity: 1;
        }

        #section-{{ section.id }} .swiper-scrollbar .swiper-scrollbar-drag {
            background-color: rgb(var(--color-gray-500));
            border-radius: 100px;
            display: block !important;
        }

        #section-{{ section.id }} .swiper:not(.swiper-initialized) .swiper-wrapper:not(.swiper-wrapper-card-product) .swiper-slide {
            width: 73%;
        }

        @media screen and (min-width: 768px) {
            #section-{{ section.id }} .swiper:not(.swiper-initialized) .swiper-wrapper:not(.swiper-wrapper-card-product) .swiper-slide {
                width: 29%;
            }
        }

        @media screen and (min-width: 1024px) {
            {% if recommendations.products_count > 4 %}
                #section-{{ section.id }} .swiper:not(.swiper-initialized) .swiper-wrapper:not(.swiper-wrapper-card-product) .swiper-wrapper {
                    transform: translateX(-27%);
                }

                #section-{{ section.id }} .swiper.slider-beginning .swiper-wrapper:not(.swiper-wrapper-card-product) {
                    margin-left: 0;
                }

                #section-{{ section.id }} .swiper.slider-end .swiper-wrapper:not(.swiper-wrapper-card-product) {
                    margin-left: 0;
                }
            {% endif %}

            #section-{{ section.id }} .swiper:not(.swiper-initialized) .swiper-wrapper:not(.swiper-wrapper-card-product) .swiper-slide {
                width: 25%;
            }
        }
      {% endstyle %}
    </section>
  {% endif %}
</product-recommendations>

{% schema %}
{
  "name": "Related Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Related Products"
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile (px)",
      "default": 16,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile (px)",
      "default": 24,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding Top Desktop (px)",
      "default": 60,
      "info": "From 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop (px)",
      "default": 60,
      "info": "From 768px"
    }
  ],
  "presets": [
    {
      "name": "Related Products"
    }
  ]
}
{% endschema %}
