{%
  render 'offset',
  id: section.id,
  padding_top_mobile: section.settings.padding_top_mobile | default: 0,
  padding_bottom_mobile: section.settings.padding_bottom_mobile | default: 0,
  padding_top_desktop: section.settings.padding_top_desktop | default: 0,
  padding_bottom_desktop: section.settings.padding_bottom_desktop | default: 0
%}

{% if customer %}
  <script>
    window.location.href = '/account/#main';
  </script>
{% else %}
  <section id="section-{{ section.id }}" class="overflow-hidden">
    <div class="container-valantic">
      <h1 class="mx-auto mb-4 max-w-107.5 text-center text-3_5xl">{{ 'customer.register.title' | t }}</h1>
      <div class="mx-auto w-full max-w-107.5 rounded border border-gray-400 p-6">
        {% form 'create_customer', novalidate: 'novalidate' %}
          <input type="hidden" name="checkout_url" value="/account?sign_up=true">
          <input type="hidden" name="customer[note][Subscribe to SMS]" value="0">
          {% comment %}
          RT BEGIN
          {% endcomment %}
          <input type="hidden" name="customer[note][Subscribe to RT]" value="0">
          {% comment %}
          RT END
          {% endcomment %}
          {% if form.errors %}
            <div class="mb-3 rounded border border-red-500/40 bg-red-500/15 px-4 py-2 text-[11px] leading-3">
              <p>{{ 'templates.contact.form.error_heading' | t }}</p>
              <ul class="errors mt-1 flex list-disc flex-col gap-0.5 pl-3">
                {% for field in form.errors %}
                  <li>
                    {% if field == 'form' %}
                      {{ form.errors.messages[field] }}
                    {% else %}
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <div class="input-group mb-3">
            <input
              required
              class="peer w-full"
              type="text"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}
                value="{{ form.first_name }}"
              {% endif %}
              autocomplete="given-name"
              placeholder=" "
            >

            <label for="RegisterForm-FirstName">{{ 'customer.register.first_name' | t }}</label>
          </div>

          <div class="input-group mb-3">
            <input
              required
              class="peer w-full"
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}
                value="{{ form.last_name }}"
              {% endif %}
              autocomplete="family-name"
              placeholder=" "
            >

            <label for="RegisterForm-LastName">{{ 'customer.register.last_name' | t }}</label>
          </div>

          <div class="input-group mb-3{% if form.errors contains 'email' %} error{% endif %}">
            <input
              class="peer w-full"
              type="emal"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %}
                value="{{ form.email }}"
              {% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
              placeholder=" "
            >

            <label for="RegisterForm-email">{{ 'customer.register.email' | t }}</label>
            {% if form.errors contains 'email' %}
              {% render 'icon', icon: 'error-circle', class: 'absolute top-1/2 -translate-y-1/2 right-4' %}
            {% endif %}
          </div>

          <div class="input-group mb-3{% if form.errors contains 'password' %} error{% endif %}">
            <input
              class="peer w-full"
              type="password"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              placeholder=" "
            >

            <label for="RegisterForm-password">{{ 'customer.register.password' | t }}</label>
            {% if form.errors contains 'password' %}
              {% render 'icon', icon: 'error-circle', class: 'absolute top-1/2 -translate-y-1/2 right-4' %}
            {% endif %}
          </div>

          <div class="mb-4 rounded border p-4">
            <div class="input-group mb-4">
              <input
                type="checkbox"
                class="peer"
                id="data-consent"
                name="customer[notes][Data Consent]"
                required
                value="1"
              >
              <label for="data-consent">
                {% render 'icon', icon: 'checkmark', class: 'icon-wrapper' %}
                <span>
                  {{ 'customer.account.consent_data_html' | t }}
                </span>
              </label>

              <script type="application/json" class="form-alerts">
                {
                  "error": "{{ 'customer.account.mandatory_field' | t }}"
                }
              </script>
              <div class="text-xs">
                <div class="d-none mb-2" data-alert="status"></div>
              </div>
            </div>
            {% comment %}
            RT BEGIN
            {% endcomment %}
            <div class="input-group mb-4" style="display: none;">
              <input
                type="checkbox"
                class="peer"
                id="subscribe-rt"
                name="customer[note][Subscribe to RT]"
                value="1"
              >
              <label for="subscribe-rt">
                {% render 'icon', icon: 'checkmark', class: 'icon-wrapper' %}
                <span>{{ 'customer.account.subscribe_email' | t }}</span>
              </label>
            </div>
            {% comment %}
            RT END
            {% endcomment %}

            <div class="input-group mb-4">
              <input
                type="checkbox"
                class="peer"
                id="subscribe-email"
                name="customer[note][Subscribe to Email]"
                value="1"
              >
              <label for="subscribe-email">
                {% render 'icon', icon: 'checkmark', class: 'icon-wrapper' %}
                <span>{{ 'customer.account.subscribe_email' | t }}</span>
              </label>
            </div>
            

            {% comment %} Start HoneyPot Captcha Field {% endcomment %}
            <input type="text" name="extra_info" style="display:none" autocomplete="off">
            {% comment %} End HoneyPot Captcha Field {% endcomment %}

            <p class="mb-2 text-xs">{{ 'customer.account.mandatory_field' | t }}</p>
          </div>

          <button
            class="w-full"
            data-update="{{ 'customer.register.submit' | t }}"
            data-wait="{{ 'customer.account.personal_data.please_wait' | t }}"
            type="submit"
          >
            {{ 'customer.register.submit' | t }}
          </button>
        {% endform %}
      </div>
    </div>
  </section>

  <script src="{{ 'customer.js' | asset_url }}" defer></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const createCustomerForm = document.querySelector('#create_customer');
      const honeypot = createCustomerForm.querySelector('input[name="extra_info"]');

      createCustomerForm.addEventListener('submit', (event) => {
        localStorage.setItem('customer-register', 'true');

        if (!!honeypot.value) {
          event.preventDefault();
          event.stopImmediatePropagation();
        }
      });
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile (px)",
      "default": 20,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile (px)",
      "default": 40,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding Top Desktop (px)",
      "default": 40,
      "info": "From 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop (px)",
      "default": 60,
      "info": "From 768px"
    }
  ]
}
{% endschema %}
