{%
  render 'offset',
  id: section.id,
  padding_top_mobile: section.settings.padding_top_mobile | default: 0,
  padding_bottom_mobile: section.settings.padding_bottom_mobile | default: 0,
  padding_top_desktop: section.settings.padding_top_desktop | default: 0,
  padding_bottom_desktop: section.settings.padding_bottom_desktop | default: 0
%}

<div class="customer reset-password" id="section-{{ section.id }}">
  <div class="container-valantic">
    <div class="group mx-auto max-w-107.5 target:block" id="recover">
      <h1 class="mb-4 text-center text-3_5xl" tabindex="-1">{{ 'customer.reset_password.title' | t }}</h1>
      <div class="w-full rounded border border-gray-400 p-6">
        <p class="mb-3 text-[11px] leading-3">* {{ 'customer.reset_password.subtext' | t }}</p>

        {%- form 'reset_customer_password' -%}
          {% assign recover_success = form.posted_successfully? %}

          {% if form.errors %}
            <div class="mb-3 rounded border border-red-500/40 bg-red-500/15 px-4 py-2 text-[11px] leading-3">
              <ul class="errors flex list-disc flex-col gap-0.5 pl-3">
                {%- for field in form.errors -%}
                  <li>
                    {%- if field == 'form' -%}
                      {{ form.errors.messages[field] }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {% endif %}

          {% if recover_success == true %}
            <div class="mb-3 rounded border border-green-100/40 bg-green-100/15 px-4 py-2 text-[11px] leading-3">
              <ul class="flex list-disc flex-col gap-0.5 pl-3">
                <li>{{ 'customer.recover_password.success' | t }}</li>
              </ul>
            </div>
          {% endif %}

          <div class="input-group mb-3{% if form.errors contains 'password' %} error{% endif %}">
            <input
              class="peer w-full"
              type="password"
              name="customer[password]"
              id="password"
              autocomplete="new-password"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="password-error"
              {% endif %}
              placeholder="{{ 'customer.reset_password.password' | t }}"
            >
            <label for="password">
              {{ 'customer.reset_password.password' | t }}
            </label>
            {%- if form.errors contains 'password' -%}
              {% render 'icon', icon: 'error-circle', class: 'absolute top-1/2 -translate-y-1/2 right-4' %}
            {%- endif -%}
          </div>

          <div class="input-group mb-3{% if form.errors contains 'password_confirmation' %} error{% endif %}">
            <input
              class="peer w-full"
              type="password"
              name="customer[password_confirmation]"
              id="password_confirmation"
              autocomplete="new-password"
              {% if form.errors contains 'password_confirmation' %}
                aria-invalid="true"
                aria-describedby="password_confirmation-error"
              {% endif %}
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
            >
            <label for="password_confirmation">
              {{ 'customer.reset_password.password_confirm' | t }}
            </label>
            {%- if form.errors contains 'password_confirmation' -%}
              {% render 'icon', icon: 'error-circle', class: 'absolute top-1/2 -translate-y-1/2 right-4' %}
            {%- endif -%}
          </div>

          <button class="w-full">{{ 'customer.reset_password.submit' | t }}</button>
        {% endform %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile (px)",
      "default": 20,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile (px)",
      "default": 40,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding Top Desktop (px)",
      "default": 40,
      "info": "From 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop (px)",
      "default": 60,
      "info": "From 768px"
    }
  ]
}
{% endschema %}
