{%
  render 'offset',
  id: section.id,
  padding_top_mobile: section.settings.padding_top_mobile | default: 0,
  padding_bottom_mobile: section.settings.padding_bottom_mobile | default: 0,
  padding_top_desktop: section.settings.padding_top_desktop | default: 0,
  padding_bottom_desktop: section.settings.padding_bottom_desktop | default: 0
%}

{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

<section id="section-{{ section.id }}" class="newsletter center">
  <div class="container-valantic">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <h2 class="inline-richtext mb-5" {{ block.shopify_attributes }}>
            {{ block.settings.heading }}
          </h2>
        {%- when 'paragraph' -%}
          <div class="newsletter__subheading mb-5" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>
        {%- when 'email_form' -%}
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form', data-layer: 'newsletter-page' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="input-group">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="peer w-full !rounded-full !border !border-solid !border-gray-300 !pl-6 !text-xs md:!text-base"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder=" "
                    required
                  >
                  <label class="!left-6 !text-xs md:!text-base" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button
                    type="submit"
                    class="newsletter-form__button field__button"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    {% render 'icon', icon: 'arrow-right', class: 'text-gray-800' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                    {%- render 'icon', icon: 'error-circle' -%}

                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>

              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message !text-base"
                  id="Newsletter-success--{{ section.id }}"
                  tabindex="-1"
                  autofocus
                >
                  {% render 'icon', icon: 'success-circle', class: 'w-7 text-green-100' -%}

                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {% endform %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile (px)",
      "default": 0,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile (px)",
      "default": 40,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding Top Desktop (px)",
      "default": 0,
      "info": "From 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop (px)",
      "default": 60,
      "info": "From 768px"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.newsletter.blocks.heading.settings.heading.default",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
