{%
  render 'offset',
  id: section.id,
  padding_top_mobile: section.settings.padding_top_mobile | default: 0,
  padding_bottom_mobile: section.settings.padding_bottom_mobile | default: 0,
  padding_top_desktop: section.settings.padding_top_desktop | default: 0,
  padding_bottom_desktop: section.settings.padding_bottom_desktop | default: 0
%}

{% if section.blocks.size > 0 %}
  <section id="section-{{ section.id }}">
    <div class="container-valantic">
      <div class="flex flex-col gap-4">
        {% for block in section.blocks %}
          {% liquid
            assign name = block.settings.name
            assign subheading = block.settings.subheading
            assign working_hours = block.settings.working_hours
            assign phone = block.settings.phone
            assign additional_text = block.settings.additional_text
          %}

          <div class="flex flex-col gap-2 rounded border border-gray-300 p-3.5 text-sm leading-4 text-gray-600">
            {% if name != blank %}
              <h3 class="!text-sm !font-medium uppercase !leading-4 text-red-500" data-store-name="{{ name | escape }}">
                {{ name }}
              </h3>
            {% endif %}

            {% if subheading != blank %}
              <div class="font-medium text-gray-800">{{ subheading }}</div>
            {% endif %}

            {% if working_hours != blank %}
              <div>{{ working_hours }}</div>
            {% endif %}

            {% if phone != blank %}
              <div>
                <a class="inline-flex items-center gap-1" href="tel: {{ phone }}">
                  {% render 'icon', icon: 'phone', class: 'relative top-px !h-4 !w-4' %}
                  {{ phone }}
                </a>
              </div>
            {% endif %}

            {% if additional_text != blank %}
              <div>{{ additional_text }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Store Locator Items",
  "settings": [
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile (px)",
      "default": 0,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile (px)",
      "default": 16,
      "info": "Until 768px"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding Top Desktop (px)",
      "default": 0,
      "info": "From 768px"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop (px)",
      "default": 16,
      "info": "From 768px"
    }
  ],
  "blocks": [
    {
      "type": "store",
      "name": "Store",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Loja aberta ao público"
        },
        {
          "type": "richtext",
          "id": "working_hours",
          "label": "Working Hours",
          "default": "<p>10h00 - 23h00 (segunda a domingo)</p>"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone Number"
        },
        {
          "type": "text",
          "id": "additional_text",
          "label": "Additional Text",
          "default": "Serviço Glovo disponível"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Store Locator Items"
    }
  ]
}
{% endschema %}
